/* 
    Document   : controlStyle1
*/

.root {
  -fx-font-size: 12pt;
  -fx-font-family: "Tahoma";
  -fx-base: #dfb951;
  -fx-background: #a78732;
  -fx-focus-color: #b6a678;
}

/* Apply hand cursor to all buttons by default */
.button {
  -fx-cursor: hand;
}

.button1 {
  -fx-text-fill: #006464;
  -fx-background-color: #dfb951;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 5;
  -fx-cursor: hand;
}

.button2 {
  -fx-text-fill: #c10000;
  -fx-background-color: #dfb951;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 5;
  -fx-cursor: hand;
}

.button3 {
  -fx-border-color: #00bfff;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-text-fill: #00bfff;
  -fx-background-color: black;
  -fx-background-radius: 10px;
  -fx-padding: 8px 16px;
  -fx-font-size: 14px;
  -fx-cursor: hand;
  -fx-font-family: "'Roboto Mono', monospace";
}

.button3:hover {
  -fx-background-color: #00bfff;
  -fx-text-fill: black;         
}

.button5 {
  -fx-background-color: black;
  -fx-opacity: 1;
  -fx-border-color: #ff0000;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-text-fill: #ff0000;
  -fx-padding: 8px 16px;
  -fx-font-size: 14px;
  -fx-cursor: hand;
  -fx-font-family: "'Roboto Mono', monospace";
}

.gamePane {
  -fx-background-color: black;
  -fx-opacity: 1;
  -fx-border-color: #ff0000;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-text-fill: #ff0000;
  -fx-padding: 8px 16px;
  -fx-font-size: 14px;
  -fx-cursor: default;
  -fx-font-family: "'Roboto Mono', monospace";
}

.button4 {
  -fx-background-color: rgb(243, 243, 243);
  -fx-opacity: 1;
  -fx-border-color: #4c00ff;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-text-fill: #1900ff;
  -fx-padding: 8px 16px;
  -fx-font-size: 14px;
  -fx-cursor: hand;
  -fx-font-family: "'Roboto Mono', monospace";
}

.labelFinalStyle {
  -fx-background-color: transparent;
  -fx-border-color: #00bfff;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-text-fill: #00bfff;
  -fx-padding: 8px 16px;
  -fx-font-size: 14px;
  -fx-cursor: default;
  -fx-font-family: "'Roboto Mono', monospace";
}

.Label1 {
  -fx-font-size: 16pt;
  -fx-font-family: "System";
  -fx-text-fill: #ff0000;
  -fx-background-color: #2c2424;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 5;
  -fx-alignment: center;
}

.TextArea1 {
  -fx-font-size: 12pt;
  -fx-font-family: "System";
  -fx-text-fill: #000000;
  -fx-background-color: #ffffff;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-padding: 5;
  -fx-alignment: center;
}

.slider {
  -fx-border-color: white;
  -fx-border-style: dashed;
  -fx-border-width: 2;
}
